<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
    <title>Nelo Boat Simulator</title>
  </head>
  <body>
    <h2>Services routes</h2>
    <table>
      <tr>
        <th>Service</th>
        <th>Route</th>
      </tr>
      <tr>
        <td>GPS Speed</td>
        <td><a href="/api/speed/gps"></a>/api/speed/gps</a></td>
      </tr>
      <tr>
        <td>Real Speed</td>
        <td>/api/speed/real</td>
      </tr>
      <tr>
        <td>Max Speed</td>
        <td>/api/speed/max</td>
      </tr>
      <tr>
        <td>Average Speed</td>
        <td>/api/speed/avg</td>
      </tr>
      <tr>
        <td>Distance to Destination</td>
        <td>/api/destination/distance</td>
      </tr>
      <tr>
        <td>Compass to Destination</td>
        <td>/api/destination/compass</td>
      </tr>
      <tr>
        <td>SPM</td>
        <td>/api/stroke/spm</td>
      </tr>
      <tr>
        <td>Distance per Stroke</td>
        <td>/api/stroke/distance</td>
      </tr>
      <tr>
        <td>Average SPM</td>
        <td>/api/stroke/spm/avg</td>
      </tr>
      <tr>
        <td>Lap Time</td>
        <td>/api/lap/time</td>
      </tr>
      <tr>
        <td>Lap Distance</td>
        <td>/api/lap/distance</td>
      </tr>
      <tr>
        <td>HR MAX</td>
        <td>/api/hr/max</td>
      </tr>
      <tr>
        <td>HR AVG</td>
        <td>/api/hr/avg</td>
      </tr>
      <tr>
        <td>Angle of Surf</td>
        <td>/api/boat/angle</td>
      </tr>
      <tr>
        <td>Active Time</td>
        <td>/api/boat/active</td>
      </tr>
      <tr>
        <td>Resting Time</td>
        <td>/api/boat/resting</td>
      </tr>
      <tr>
        <td>Water Temperature</td>
        <td>/api/environment/water/temperature</td>
      </tr>
    </table>
  </body>
</html>
